
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .background-image {
    background-image: url('../images/image-bg.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }


  header {
    z-index: 3;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
  }


  .logo {
    font-size: 24px;
    font-weight: bold;
    width: 50px;
    height: 50px;
    z-index: 2;
  }


  nav ul {
    display: flex;
    list-style: none;
  }

  nav ul li {
    margin-right: 15px;
  }

  nav ul li:last-child {
    margin-right: 0;
  }


  .centered-block {
    width: 540px;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    text-align: center;
    color: #fff;
    border-radius: 8px;
  }


  .centered-block:hover {
    background: rgba(255, 255, 255, 0.8);
    color: #333;
    transition: background 0.3s ease, color 0.3s ease;
  }